# this workflow is used to update the internal/lsp/examples/index.json
# file containing an index of the content available on
# http://docs.styra.com/opa/rego-by-example
name: Update Examples Index

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *" # Run daily at 1 AM UTC

permissions:
  contents: read

jobs:
  update-examples-index:
    env:
      RQ_VERSION: v0.0.9
    name: Update Examples Index
    runs-on: ubuntu-22.04
    permissions:
      contents: write # this is needed to open a pull request
      pull-requests: write # this is also needed to open a pull request
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up go for rq
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
      - uses: open-policy-agent/setup-opa@950f159a49aa91f9323f36f1de81c7f6b5de9576 # v2.3.0
        with:
          version: latest
          static: true
      - name: Restore rq cache
        id: cache-rq
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/go/bin/rq
          key: ${{ runner.os }}-${{ runner.arch }}-go-rq-${{ env.RQ_VERSION }}
      - run: go install git.sr.ht/~charles/rq/cmd/rq@${{ env.RQ_VERSION }}
        if: steps.cache-rq.outputs.cache-hit != 'true'
      - name: Cache rq binary
        if: steps.cache-rq.outputs.cache-hit != 'true'
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/go/bin/rq
          key: ${{ runner.os }}-${{ runner.arch }}-go-rq-${{ env.RQ_VERSION }}

      - name: Fetch sitemap and convert to JSON
        run: |
          set -o pipefail

          TEMP_DIR=$(mktemp -d)

          curl -L https://docs.styra.com/sitemap.xml -o "$TEMP_DIR/sitemap.xml"

          cat "$TEMP_DIR/sitemap.xml" | \
            rq -i xml --indent "  " | \
            opa eval 'data.build.workflows.symbols' \
              -d build/workflows/update_example_index.rego \
              --format=pretty \
              --stdin-input | \
            tee internal/lsp/examples/index.json

      - name: Open a pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          title: "lsp: Update rego-by-examples index"
          commit-message: "lsp: Update rego-by-examples index"
          base: main
