# this workflow is used to update the internal/lsp/examples/index.json
# file containing an index of the content available on
# http://docs.styra.com/opa/rego-by-example
name: Update Examples Index

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *" # Run daily at 1 AM UTC

permissions:
  contents: read

jobs:
  update-examples-index:
    env:
      RQ_VERSION: v0.0.9
    name: Update Examples Index
    runs-on: ubuntu-22.04
    permissions:
      contents: write # this is needed to open a pull request
      pull-requests: write # this is also needed to open a pull request
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up go for rq
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - uses: open-policy-agent/setup-opa@950f159a49aa91f9323f36f1de81c7f6b5de9576 # v2.3.0
        with:
          version: latest
          static: true
      - name: Restore rq cache
        id: cache-rq
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/go/bin/rq
          key: ${{ runner.os }}-${{ runner.arch }}-go-rq-${{ env.RQ_VERSION }}
      - run: go install git.sr.ht/~charles/rq/cmd/rq@${{ env.RQ_VERSION }}
        if: steps.cache-rq.outputs.cache-hit != 'true'
      - name: Cache rq binary
        if: steps.cache-rq.outputs.cache-hit != 'true'
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/go/bin/rq
          key: ${{ runner.os }}-${{ runner.arch }}-go-rq-${{ env.RQ_VERSION }}

      - name: Fetch sitemap and convert to JSON
        run: |
          set -o pipefail

          TEMP_DIR=$(mktemp -d)

          curl -L https://docs.styra.com/sitemap.xml -o "$TEMP_DIR/sitemap.xml"

          cat "$TEMP_DIR/sitemap.xml" | \
            rq -i xml --indent "  " | \
            opa eval 'data.build.workflows.symbols' \
              -d build/workflows/update_example_index.rego \
              --format=pretty \
              --stdin-input | \
            tee internal/lsp/examples/index.json

      - name: Open a pull request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          title: "lsp: Update rego-by-examples index"
          commit-message: "lsp: Update rego-by-examples index"
          base: main
